<h2>Example</h2>
<div class='docColumn'>
    <h5>Template</h5>
<pre>&lt;table border="1" cellpadding="10"&gt;
    \{{#groups-of
        tagName="tbody"
        groupsOf=3
        groupTag="tr"
        items=tableData
        as |item isFirst isLast|
    }}
        &lt;td&gt;
            \{{#if isFirst}}
                [\{{item}}]
            \{{else if isLast}}
                (\{{item}})
            \{{else}}
                \{{item}}
            \{{/if}}
        &lt;/td&gt;
    \{{else}}
        &lt;td&gt;empty&lt;/td&gt;
    \{{/groups-of}}
&lt;/table&gt;</pre>

    <h5>Controller</h5>
<pre>tableData: [ 1, 2, 3, 4, 5, 6, 7 ]</pre>
</div>

<div class='exampleColumn'>
    <table border="1" cellpadding="10">
        {{#groups-of tagName="tbody" groupsOf=3 groupTag="tr" items=tableData as |item isFirst isLast|}}
            <td>
                {{#if isFirst}}
                    [{{item}}]
                {{else if isLast}}
                    ({{item}})
                {{else}}
                    {{item}}
                {{/if}}
            </td>
        {{else}}
            <td>empty</td>
        {{/groups-of}}
    </table>
</div>


<div class='cb'></div>
